<app-header></app-header>

<div class="container d-flex flex-column align-items-center">

  <h2 class="text-center m-5 titulo text-success">Adicionar Produto</h2>

  <form class="form">
    <div class="mb-3">
      <label for="task_titulo" class="form-label text-success">Link da imagem do produto:</label>
      <input type="text" class="form-control" id="task_titulo" name="task_titulo"
        placeholder="Cole aqui o link do imagur" required minlength="3" >
    </div>
    <div class="mb-4">
      <label for="task_descricao" class="form-label text-success">Nome do produto:</label>
      <input type="text" class="form-control" id="task_descricao" name="task_descricao"
        placeholder="Digite o nome do produto" required minlength="3" >
    </div>
    <div class="mb-4">
      <label for="task_descricao" class="form-label text-success">Digite o preço do produto:</label>
      <input type="text" class="form-control" id="task_descricao" name="task_descricao"
        placeholder="Digite o preço do produto" required minlength="3" >
    </div>
    <div class="d-flex justify-content-center">
      <button class="btn btn-success">Cadastrar</button>
      <button class="btn btn-success mx-3" type="reset">Limpar</button>
    </div>
  </form>
</div>
